<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Anime News</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    {{!-- linking jQuery --}}
    <script src="https://code.jquery.com/jquery.js"></script>


</head>

<body>
    {{{ body }}}
</body>

</html>