<nav>
    <div class="nav-wrapper deep-purple darken-4">
        <a href="#" class="text brand-logo center">Anime News</a>
        <ul id="nav-mobile" class="left hide-on-med-and-down">
            <li><a class="text" href="/saved">Saved Articles</a></li>

            <li>
                <a class="text scrape waves-effect waves-light btn"><i class="material-icons left">search
                    </i>Scrape</a>
            </li>

            <li>
                <a class="text clear-articles waves-effect waves-light btn"><i class="material-icons left">backspace
                    </i>Clear Articles</a>
            </li>


        </ul>
    </div>
</nav>